.main {
  min-height: 480px;
  .logo {
    float: left;
  }
  .label {
    padding-top: 72px;
    font-size: 36px;
    display: inline-block;
  }
  .menu {
    margin-top: 320px;
  }
  a {
    color: rgba(0, 0, 0, 0.65);
    padding-top: 24px;
    font-size: 24px;
  }
}